.day-today {
  color: white !important;
  border-radius: 50%;
  width: 23px;
  margin-left: -7px;
  padding-left: 7px;

  &.double-number {
    padding-left: 3px;
  }
}

.month-calendar .day-today {
  background-color: #ffc107 !important;
}

.year-calendar {
  .month-days {
    height: 175px;
    padding-top: 35px;

    .day {
      width: 13.33333%;
      float: left;
    }

    .day-today {
      background-color: #009688 !important;
    }
  }
  .header-small-days {
    display: block;
    .year-day {
      width: 13.33333%;
      float: left;
      display: inline-block;
      font-weight: bold;
      border-bottom: #009688 solid 1px;
    }
  }
}