.day-today {
  color: white !important;
  border-radius: 50%;
  width: 23px;
  margin-left: -7px;
  padding-left: 7px;
  height: inherit;
  line-height: inherit;

  &.double-number {
    padding-left: 3px;
  }
}

.day-reserved {
  color: white !important;
  border-radius: 50%;
  width: 23px;
  margin-left: -7px;
  padding-left: 7px;
  height: inherit;
  line-height: inherit;

  &.double-number {
    padding-left: 3px;
  }
}

.month-calendar {
  .in-month {
    font-weight: bold;
  }

  .out-of-month {
    color: grey;
  }

  .day-today {
    background-color: #ffc107 !important;
  }

  .day-reserved {
    //background-color: #18ff07 !important;
  }
}

.year-calendar {
  .month-days {
    height: 175px;
    padding-top: 35px;

    .day {
      width: 13.33333%;
      float: left;
      height: 24px;
    }

    .day-today {
      background-color: #009688 !important;
    }

    .day-reserved {
      //background-color: #18ff07 !important;
    }
  }

  .header-small-days {
    display: block;

    .year-day {
      width: 13.33333%;
      float: left;
      display: inline-block;
      font-weight: bold;
      border-bottom: #009688 solid 1px;
    }
  }
}