.reservation-card {
  border-radius: 5px;

  .card-title {
    .reservation-icon {
      margin-right: 10px;
      font-size: 2rem;
    }
    .name {
      vertical-align: top;
    }
    .status {
      font-size: 1rem;
      float: right;
      font-weight: bold;
    }
  }

  .card-action:last-child {
    border-radius: 0 0 5px 5px !important;
  }

  .card-action {
    min-height: 70px;

    .delete-btn {
      border-radius: 50%;
      width: 40px;
      margin: 0;
      padding: 0;
    }
  }
}