.reservation-card {
  border-radius: 5px;

  .card-action:last-child {
    border-radius: 0 0 5px 5px !important;
  }

  .badge {
    height: 25px;
    border-radius: 5px;

    span.status {
      margin-left: 6px;
      vertical-align: super;
    }
  }
}