@import "~materialize-css/sass/materialize";
@import "style/calendar";
@import "style/reservation";

#mainContainer {

}

#menu-navbar {
  .switch {
    margin-right: 40px;

    label {
      color: white;
      font-size: 15px;
    }
  }

  .nav-wrapper .brand-logo {
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    margin-left: 10px;

    i.today-icon {
      margin-top: -13px;
      margin-right: 5px !important;
    }

    i.material-icons {
      padding: 0;
      margin-right: 0;
    }
  }

  #switch label[for="switch-theme"] {
    color: white;
  }
}

#mobile-nav {
  .switch label {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-left: 32px;
  }

  .controls {
    display: none;
  }
}


@media screen and (max-width: 992px) {
  #menu-navbar .nav-wrapper .brand-logo {
    left: 65px;
    width: 80%;
    transform: none;

    i.today-icon {
      margin-top: -10px;
    }

    .today-text {
      display: none;
    }
  }
}


// HELPERS

.loader-wrapper {
  min-height: 80vh; /* use "vh" instead of % */
  padding-top: 35vh;
  margin: auto;
}

.capitalize:first-letter {
  text-transform: capitalize;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.modal.modal-fixed-footer {
  height: 200px;
}