@import "~materialize-css/sass/materialize";
@import "style/calendar";

#mainContainer {

}

#menu-navbar {
  .brand-logo i {
    font-size: 43px;
  }

  .switch {
    margin-right: 40px;

    label {
      color: white;
      font-size: 15px;
    }
  }
}


// HELPERS

.loader-wrapper {
  min-height: 80vh; /* use "vh" instead of % */
  padding-top: 35vh;
  margin: auto;
}

.capitalize:first-letter {
  text-transform: capitalize;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}
